{
  "openapi": "3.1.0",
  "info": {
    "title": "Nabaperks operational API",
    "version": "1.0.0",
    "description": "Externally consumed liveness and protected readiness contracts. Product-internal Server Actions are not HTTP APIs and are intentionally out of scope."
  },
  "servers": [
    {
      "url": "https://nabaperks.com"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Read public service liveness",
        "operationId": "getLiveness",
        "x-source": "app/api/health/route.ts",
        "responses": {
          "200": {
            "description": "The deployed service process is live.",
            "headers": {
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/readiness": {
      "get": {
        "summary": "Read protected dependency readiness",
        "operationId": "getReadiness",
        "x-source": "app/api/readiness/route.ts",
        "security": [
          {
            "monitorBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "All required dependencies are ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          },
          "401": {
            "description": "The production monitor bearer token is missing or invalid."
          },
          "503": {
            "description": "At least one required dependency is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resend/webhook": {
      "post": {
        "summary": "Receive Resend delivery events for loyalty invitations",
        "operationId": "postResendLoyaltyInviteWebhook",
        "description": "Signed, replay-safe Resend delivery webhook (Standard Webhooks / Svix scheme). Delivered/bounced/complained/failed events are applied to invitation recipients by provider message id; bounces and complaints suppress the address globally. The raw request body is required for signature verification.",
        "x-source": "app/api/resend/webhook/route.ts",
        "responses": {
          "200": {
            "description": "The event was accepted, or ignored as an unhandled event type."
          },
          "400": {
            "description": "The request body was not valid JSON."
          },
          "401": {
            "description": "The Standard Webhooks signature was missing or invalid."
          },
          "503": {
            "description": "RESEND_WEBHOOK_SECRET is not configured; the webhook fails closed."
          }
        }
      }
    },
    "/api/twilio/status": {
      "post": {
        "summary": "Receive Twilio customer-message delivery status",
        "operationId": "postTwilioCustomerMessageStatus",
        "description": "Validates the X-Twilio-Signature against the canonical query-bearing callback URL and applies a monotonic status to the delivery identified by delivery_id and MessageSid.",
        "x-source": "app/api/twilio/status/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "delivery_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "X-Twilio-Signature",
            "in": "header",
            "required": true,
            "description": "Twilio HMAC-SHA1 signature over the canonical query-bearing callback URL and every form field.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["MessageSid", "MessageStatus"],
                "properties": {
                  "MessageSid": {
                    "type": "string",
                    "pattern": "^(SM|MM)[0-9A-Fa-f]{32}$"
                  },
                  "MessageStatus": {
                    "enum": [
                      "accepted",
                      "scheduled",
                      "queued",
                      "sending",
                      "sent",
                      "delivered",
                      "read",
                      "undelivered",
                      "failed",
                      "canceled"
                    ]
                  },
                  "ErrorCode": {
                    "type": "string",
                    "pattern": "^[0-9]{1,8}$"
                  }
                },
                "additionalProperties": { "type": "string" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The signed callback was applied or acknowledged as an idempotent duplicate or stale status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok"],
                  "properties": { "ok": { "const": true } }
                }
              }
            }
          },
          "400": {
            "description": "The form payload or delivery identifier was invalid."
          },
          "401": { "description": "The Twilio signature was invalid." },
          "413": { "description": "The form body exceeded the webhook limit." },
          "415": {
            "description": "The request was not URL-encoded form data."
          },
          "503": {
            "description": "Webhook credentials are missing or the delivery cannot yet be correlated."
          }
        }
      }
    },
    "/api/twilio/inbound": {
      "post": {
        "summary": "Receive Twilio customer-message replies",
        "operationId": "postTwilioCustomerMessageInbound",
        "description": "Validates the X-Twilio-Signature, classifies STOP, START and HELP, and records only a sender HMAC and keyword. The plaintext sender and body are not stored.",
        "x-source": "app/api/twilio/inbound/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "X-Twilio-Signature",
            "in": "header",
            "required": true,
            "description": "Twilio HMAC-SHA1 signature over the canonical inbound URL and every form field.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["MessageSid", "From"],
                "properties": {
                  "MessageSid": {
                    "type": "string",
                    "pattern": "^(SM|MM)[0-9A-Fa-f]{32}$"
                  },
                  "From": {
                    "type": "string",
                    "pattern": "^(whatsapp:)?\\+[1-9][0-9]{7,14}$"
                  },
                  "Body": { "type": "string" },
                  "OptOutType": { "enum": ["STOP", "START", "HELP"] }
                },
                "additionalProperties": { "type": "string" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The signed inbound message was recorded and an XML TwiML response returned. Advanced Opt-Out callbacks receive an empty Response element because Twilio has already replied.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "TwiML Response with zero or one Message element."
                }
              }
            }
          },
          "400": { "description": "The form payload was invalid." },
          "401": { "description": "The Twilio signature was invalid." },
          "413": { "description": "The form body exceeded the webhook limit." },
          "415": {
            "description": "The request was not URL-encoded form data."
          },
          "429": { "description": "The sender rate limit was exceeded." },
          "500": {
            "description": "The verified inbound message could not be persisted."
          },
          "503": {
            "description": "Webhook or phone-HMAC configuration is unavailable."
          }
        }
      }
    },
    "/api/email/unsubscribe/invite/{token}": {
      "post": {
        "summary": "Suppress future venue invite email",
        "operationId": "postInviteEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/invite/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty acknowledgement, including unknown tokens and repeated requests. Suppression is scoped to the venue resolved from the independent unsubscribe token."
          },
          "400": {
            "description": "Malformed token."
          },
          "429": {
            "description": "Rate limited. Retry-After: 60."
          },
          "503": {
            "description": "Suppression or rate-limit storage unavailable. Retry-After: 60."
          }
        }
      },
      "get": {
        "summary": "Open unsubscribe confirmation page",
        "operationId": "getInviteEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/invite/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to the confirmation page; does not suppress email."
          }
        }
      }
    },
    "/api/email/unsubscribe/claim/{token}": {
      "post": {
        "summary": "Suppress future venue invite email",
        "operationId": "postClaimEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/claim/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty acknowledgement, including unknown tokens and repeated requests. Suppression is scoped to the venue resolved from the independent unsubscribe token."
          },
          "400": {
            "description": "Malformed token."
          },
          "429": {
            "description": "Rate limited. Retry-After: 60."
          },
          "503": {
            "description": "Suppression or rate-limit storage unavailable. Retry-After: 60."
          }
        }
      },
      "get": {
        "summary": "Open unsubscribe confirmation page",
        "operationId": "getClaimEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/claim/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to the confirmation page; does not suppress email."
          }
        }
      }
    },
    "/api/cron/qr-status-email-drain": {
      "get": {
        "summary": "Drain Venue QR status confirmation emails",
        "operationId": "drainQrStatusEmails",
        "x-source": "app/api/cron/qr-status-email-drain/route.ts",
        "description": "Claims due confirmation emails under a lease. Uses stable per-recipient delivery keys and bounded retries. Does not change QR status.",
        "security": [
          {
            "cronBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "All claimed emails were accepted by the provider and outcomes recorded. This does not prove mailbox delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "result"],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "required": ["sent", "failed"],
                      "properties": {
                        "sent": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "failed": {
                          "type": "integer",
                          "const": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid cron bearer token."
          },
          "500": {
            "description": "At least one delivery, database operation or cron observation failed. Pending work remains queued for retry."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "monitorBearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "cronBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "CRON_SECRET bearer token for operator cron jobs."
      }
    },
    "schemas": {
      "LivenessResponse": {
        "type": "object",
        "required": [
          "status",
          "scope",
          "service",
          "version",
          "revision",
          "environment",
          "uptime",
          "time"
        ],
        "properties": {
          "status": {
            "const": "ok"
          },
          "scope": {
            "const": "liveness"
          },
          "service": {
            "const": "nabaperks"
          },
          "version": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "uptime": {
            "type": "integer",
            "minimum": 0
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReadinessResponse": {
        "type": "object",
        "required": [
          "status",
          "scope",
          "service",
          "version",
          "revision",
          "environment",
          "checks",
          "durationMs",
          "time"
        ],
        "properties": {
          "status": {
            "enum": ["ready", "not_ready"]
          },
          "scope": {
            "const": "readiness"
          },
          "service": {
            "const": "nabaperks"
          },
          "version": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "checks": {
            "type": "object",
            "required": ["database"],
            "properties": {
              "database": {
                "enum": ["ok", "error"]
              },
              "legalTerms": {
                "enum": ["ok", "snapshot_missing", "error"],
                "description": "Whether the terms snapshot trigger for the build's CUSTOMER_LEGAL_VERSION is installed."
              },
              "configuration": {
                "enum": ["ok", "customer_email_hmac_missing"],
                "description": "Release-critical configuration: customer_email_hmac_missing when email sign-in is on without CUSTOMER_EMAIL_HMAC_SECRET."
              }
            }
          },
          "durationMs": {
            "type": "integer",
            "minimum": 0
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
