{
  "openapi": "3.1.0",
  "info": {
    "title": "Nabaperks operational API",
    "version": "1.0.0",
    "description": "Externally consumed liveness and protected readiness contracts. Product-internal Server Actions are not HTTP APIs and are intentionally out of scope."
  },
  "servers": [
    {
      "url": "https://nabaperks.com"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Read public service liveness",
        "operationId": "getLiveness",
        "x-source": "app/api/health/route.ts",
        "responses": {
          "200": {
            "description": "The deployed service process is live.",
            "headers": {
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/readiness": {
      "get": {
        "summary": "Read protected dependency readiness",
        "operationId": "getReadiness",
        "x-source": "app/api/readiness/route.ts",
        "security": [
          {
            "monitorBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "All required dependencies are ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          },
          "401": {
            "description": "The production monitor bearer token is missing or invalid."
          },
          "503": {
            "description": "At least one required dependency is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resend/webhook": {
      "post": {
        "summary": "Receive Resend delivery events for loyalty invitations",
        "operationId": "postResendLoyaltyInviteWebhook",
        "description": "Signed, replay-safe Resend delivery webhook (Standard Webhooks / Svix scheme). Delivered/bounced/complained/failed events are applied to invitation recipients by provider message id; bounces and complaints suppress the address globally. The raw request body is required for signature verification.",
        "x-source": "app/api/resend/webhook/route.ts",
        "responses": {
          "200": {
            "description": "The event was accepted, or ignored as an unhandled event type."
          },
          "400": {
            "description": "The request body was not valid JSON."
          },
          "401": {
            "description": "The Standard Webhooks signature was missing or invalid."
          },
          "503": {
            "description": "RESEND_WEBHOOK_SECRET is not configured; the webhook fails closed."
          }
        }
      }
    },
    "/api/email/unsubscribe/invite/{token}": {
      "post": {
        "summary": "Suppress future venue invite email",
        "operationId": "postInviteEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/invite/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty acknowledgement, including unknown tokens and repeated requests. Suppression is scoped to the venue resolved from the independent unsubscribe token."
          },
          "400": {
            "description": "Malformed token."
          },
          "429": {
            "description": "Rate limited. Retry-After: 60."
          },
          "503": {
            "description": "Suppression or rate-limit storage unavailable. Retry-After: 60."
          }
        }
      },
      "get": {
        "summary": "Open unsubscribe confirmation page",
        "operationId": "getInviteEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/invite/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to the confirmation page; does not suppress email."
          }
        }
      }
    },
    "/api/email/unsubscribe/claim/{token}": {
      "post": {
        "summary": "Suppress future venue invite email",
        "operationId": "postClaimEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/claim/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty acknowledgement, including unknown tokens and repeated requests. Suppression is scoped to the venue resolved from the independent unsubscribe token."
          },
          "400": {
            "description": "Malformed token."
          },
          "429": {
            "description": "Rate limited. Retry-After: 60."
          },
          "503": {
            "description": "Suppression or rate-limit storage unavailable. Retry-After: 60."
          }
        }
      },
      "get": {
        "summary": "Open unsubscribe confirmation page",
        "operationId": "getClaimEmailUnsubscribe",
        "x-source": "app/api/email/unsubscribe/claim/[token]/route.ts",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to the confirmation page; does not suppress email."
          }
        }
      }
    },
    "/api/cron/qr-status-email-drain": {
      "get": {
        "summary": "Drain Venue QR status confirmation emails",
        "operationId": "drainQrStatusEmails",
        "x-source": "app/api/cron/qr-status-email-drain/route.ts",
        "description": "Claims due confirmation emails under a lease. Uses stable per-recipient delivery keys and bounded retries. Does not change QR status.",
        "security": [
          {
            "cronBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "All claimed emails were accepted by the provider and outcomes recorded. This does not prove mailbox delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "result"],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "required": ["sent", "failed"],
                      "properties": {
                        "sent": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "failed": {
                          "type": "integer",
                          "const": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid cron bearer token."
          },
          "500": {
            "description": "At least one delivery, database operation or cron observation failed. Pending work remains queued for retry."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "monitorBearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "cronBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "CRON_SECRET bearer token for operator cron jobs."
      }
    },
    "schemas": {
      "LivenessResponse": {
        "type": "object",
        "required": [
          "status",
          "scope",
          "service",
          "version",
          "revision",
          "environment",
          "uptime",
          "time"
        ],
        "properties": {
          "status": {
            "const": "ok"
          },
          "scope": {
            "const": "liveness"
          },
          "service": {
            "const": "nabaperks"
          },
          "version": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "uptime": {
            "type": "integer",
            "minimum": 0
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReadinessResponse": {
        "type": "object",
        "required": [
          "status",
          "scope",
          "service",
          "version",
          "revision",
          "environment",
          "checks",
          "durationMs",
          "time"
        ],
        "properties": {
          "status": {
            "enum": ["ready", "not_ready"]
          },
          "scope": {
            "const": "readiness"
          },
          "service": {
            "const": "nabaperks"
          },
          "version": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "checks": {
            "type": "object",
            "required": ["database"],
            "properties": {
              "database": {
                "enum": ["ok", "error"]
              }
            }
          },
          "durationMs": {
            "type": "integer",
            "minimum": 0
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
